<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8" />
            <title>Formulário de cadastro de livros.</title>
        </head>
        <body>
            <h1>Adicionar livros</h1>
        </body>
    </html>